@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Manrope, sans-serif;
    font-weight: 500;
    color: #616161;
}

/* headings and logo */

h1 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fafafa;
}

h3,
h2 {

    text-transform: uppercase;
    letter-spacing: 3px;    
    text-align: center;
}



header {
    background-color: #5d3c96;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    letter-spacing: 2px;
    flex-direction: row;
    z-index: 5;
}

.logo {
    width: 150px;
    height: 150px;
    margin: 10px 0 0 10px;
}

.menu li a {
    color: #fafafa;
    text-decoration: none;
    font-size: x-large;
}

.active {
    border-bottom: 1px solid #5d3c96;
}


.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 5;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);    
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: #5d3c96;
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 800px) {

    .active {
        border-bottom: 1px solid #5d3c96;
        margin-bottom: 8px;
    }

    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 94px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0.5rem 0 0 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        border-top: 1px solid #fff;
        height: 2.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);

    }

    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: #fafafa;
        background-color: #5d3c96;
    }

    .menu>li:not(:last-child) {
        border-bottom: 1px solid #4fc4cf;
    }

    .logo {
        width: 75px;
        height: 75px;
        margin: 10px 0 0 10px;
    }


}

.main-bg {
    text-align: center;
    display: flex;
    margin: 50px auto;

}

.image-left {
    flex: 1;
    margin: 10px 20px;
}

.image-left img {
    width: 100%;
    height: auto;
    border-radius: 0 30%;
}

.right-about {
    flex: 2;
    margin: auto 30px;
    font-size: 150%;
    font-weight: 500;
    text-align: center;
    box-sizing: border-box;
}

.right-about p {
    text-align: center;
    margin-top: 10px;
}

hr {
    border-top: 1px solid #5d3c96;
    width: 100%;
}

/* services */

.services-container {
    display: flex;
    margin: 50px 0;
    flex-direction: column;
}

.services {
    display: flex;
    margin: 50px 0;
    text-align: left;
    font-size: large;
}

.services-container h2 {
    font-size: xx-large;
}

.services-top-2 h4 {
    font-size: large;
    margin: 10px 0;
}

.services p {
    margin-top: 15px;
}

.services-top-1 {
    margin: 20px;
    flex: 1;
    order: 1;
}

.services-top-2 {
    margin: 20px;
    flex: 1;
    order: 3;
}

.services-image {
    order: 2;
    margin: 20px 15px;
    display: flex;
}


.services-image img {
    width: 100%;
    max-width: 80%;
    height: auto;
    border-radius: 0 50%;
    margin: auto;
}


.services-bottom-1 {
    margin: 20px;
    flex: 1;
    order: 1;
}

.services-bottom-2 {
    margin: 20px;
    flex: 1;
    order: 3;
}

/* Services individuals*/

.therapy {
    display: flex;    
}

.therapy-inner {
  margin: 20px 30px;
}

.therapy li{
    margin: 20px;
}

.therapy h3, .therapy h4 {
    margin: 20px 0;
}

.therapy-image {
    margin: 50px 40px auto 0;
    max-width: 80%;
}

.therapy img {
    width: 100%;
    height: auto;
    border-radius: 0 30%;   
}

.parental-image {
    margin-bottom: 40px;
}

/* Our team section*/

.our-team-container {

    display: flex;
    padding-bottom: 50px;
    flex-direction: column;
}

.our-team-container h2 {
    margin-top: 20px;
    font-size: xx-large;
    padding-bottom: 5px;
}

.our-team-inner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
}

.our-team {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    margin-top: 1.5rem;
    text-align: center;
    align-items: center;
}

.our-team-bg {
    background-color: rgba(79, 196, 207, 0.4);
    height: 100%;
    width: 70%;
    padding: 10px;
}

.cv-logo {
    margin-top: auto;
}

.our-team-link {
    border: 1px solid #5d3c96;
    font-weight: 600;
    margin: auto;
    background-color: rgb(215, 227, 230);
    border-radius: 1rem;
    padding: 10px;
}

.our-team-inner p {
    padding: 10px 0;
}

.our-team-link a {
    text-decoration: none;
    color: #106800;
    font-weight: 400;
}

.our-team-1 {
    
    border-radius: 1.5rem 1.5rem 0 1.5rem;
    margin-left: auto;
}

.our-team-2 {
    
    border-radius: 1.5rem 1.5rem 1.5rem 0;
    margin-right: auto;
}

.our-team-3 {
    
    border-radius: 1.5rem 0 1.5rem 1.5rem;
    margin-left: auto;
}

.our-team-4 {
    
    border-radius: 0 1.5rem 1.5rem 1.5rem;
    margin-right: auto;
}

/* form*/
.form-container-outer {
    background-color: rgba(79, 196, 207, 0.7);
    width: 100%;
    overflow: hidden;
    position: relative;
}

.form-container-bg {
    display: flex;
    justify-content: center;
}

.form-container-mid {
    display: flex;
    justify-content: center;
    width: 80%;
}

.form-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    color: #3f3f3f;
    margin: 10px 0;
    background-color: rgba(229, 231, 233, 0.7);
    align-items: center;
}

.signup-form {
    width: 80%;
    padding: 20px 0;
}

.required-field-b {
    font-size: small;
}

.required-field {
    color: #f74242;
}

.form-control {
    display: flex;
    flex-direction: column;
}

.form-control input {
    flex: 1;
}

.text-input {
    border-radius: 5px;
    border: 2px inset #5d3c96;
    line-height: 2;
}

.signup-form div {
    margin-bottom: 20px;
}

.join-button {
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    font-size: 100%;
    background-color: #4fc4cf;
    color: #fafafa;
    display: block;
}

.submit-form-outer {
    display: flex;
    flex-direction: column;
    height: 540px;
}

.submit-form {
    margin-top: 50px;
}

.return-home {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
}

.sub-form-logo {
    margin: 20px auto;
}

/* CV section*/

.cv-outer {
    display: flex;
    
}

.cv-inner {
    flex: 1;
    margin: auto;
    padding-top: 20px;
    display: flex;
    
}

.cv {
    text-align: center;
    flex: 0.8;
    margin: 20px auto;    
    display: flex;
    flex-direction: column;
    border: 1px solid #5d3c96;
    border-radius: 10px;
    background-color: rgba(112, 201, 209, 0.1);
}

.cv-info {
    display: flex; 
    margin-top: 20px;
}

.cv-info-inner {
    margin: auto;
    border: 2px solid #5d3c96;
    flex: 0.4;
    border-radius: 10px;    
    background-color: rgba(112, 201, 209, 0.3);
}

.cv-description {
    margin-top: 20px;
}

.cv-info h3, .cv-info h4 {
    margin: 20px 0;
}

.cv p {
    padding: 20px 10px;
    text-align: left;
    font-weight: 600;
}

/* footer*/

footer {
    background-color: #3f3f3f;
    color: #fafafa;
    display: flex;
    flex-direction: column;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px auto;
}

footer a {
    color: #fafafa;
}

.social {
    font-size: 150%;
    align-items: center;
    margin-right: auto;
    order: 1;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-left: 25px;
    flex-wrap: wrap;
}

.social li {
    display: inline-block;
    padding-left: 25px;
}

.map-footer {
    align-items: center;
    box-sizing: border-box;
    order: 3;
    padding-right: 50px;
    padding-top: 15px;
}



#address {
    margin-left: auto;
    display: flex;
    letter-spacing: 2px;
    order: 2;
    flex-direction: column;
    text-align: left;
    padding-right: 10px;

}

#address h3,
#address h2 {
    padding-top: 15px;
    color: #fafafa;
    margin-right: auto;
    text-transform: capitalize;
}

#address p {
    margin-top: 15px;

}

.copyright {
    font-size: small;
    padding: 0 0 5px 50px;

}

.copyright h3 {
    color: #fafafa;
}

@media screen and (max-width: 800px) {

    .main-bg,
    .services,
    .footer-container,
    .therapy {
        flex-direction: column;
    }

    .services li {
        margin: 0 20px;
    }

    .main-bg {
        font-size: 80%;
    }

    .services-image,
    .image-left,
    .therapy-image {
        max-width: 90%;
        margin: auto;
        padding: 15px 0;
    }

   

    .our-team-inner {
        flex-direction: column;
        margin: 0;
    }

    .our-team-bg-sm {
        border: 2px solid #5d3c96;
        border-radius: 1.5rem;
        margin: auto;
    }

    .cv {
        flex: 1;
        margin: 0 15px;
    }

    .map-footer {
        order: 2;
    }

    iframe {
        width: 100%;
        margin-left: 25px;
    }

    #address {
        margin: 0 25px 10px;
        order: 1;
    }

    .form-container {
        width: 100%;
        margin: 0;
    }

    .form-container-mid {
        width: 100%;
    }

    .social {
        order: 3;
        margin: 10px 0 0 0;
    }

    .social li {
        margin-right: 15px;
    }
}

@media screen and (max-width:1024px) {

    .services-image {
        max-width: 300px;
        margin-bottom: auto;
        padding: 15px 0;
    }
}

@media screen and (min-width:2000px) {

    body,
    .services {
        font-size: x-large;
    }

    .image-left img {
        max-width: 60%;
    }
}