    @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Oswald:wght@300&display=swap');

    * {
        margin: 0;
        padding: 0;
        border: none;
    }

    body {
        font-family: Manrope, sans-serif;
        font-weight: 300;
        color: #4dc1c0;
    }

    header {
        background-color: #4dc1c0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        flex-basis: 100%;
    }

    /* headings and logo */

    h1,
    h2 {
        font-family: Oswald, sans-serif;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: #fafafa;
    }

    .logo {
        width: 150px;
        height: 150px;
        margin-right: 50px;
    }

    .menu {
        list-style: none;
        flex-basis: 50%;
    }

    .menu li {
        display: inline-block;
        padding: 0 50px;

    }

    .active {
        border-bottom: 1px solid #3f3f3f;
    }


    /* image left and about-us section */

    .main-bg {
        /* background-color: #5d3c96; */
        text-align: center;
        display: flex;
        margin: 50px auto;
    }
    
    .image-left {
        flex: 1;
        border-radius: 0 30%;
        margin: 10px 20px;
    }
    
    .image-left img {
        width: 100%;
        height: auto;
        border-radius: 0 30%;
        margin: auto;
    }
    
    .right-about {
    
        color: #4dc1c0;
        flex: 2;
        margin: auto 30px;
        font-size: 150%;
        text-align: center;
        box-sizing: border-box;
    }
    
    .right-about p {
        text-align: justify;
        margin-top: 10px;
    }
    
    hr {
        border-top: 1px solid #5d3c96;
        width: 100%;
        margin: 0 auto;
    }


    /* services */

    #services {
        background-color: #4dc1c0;
        width: 100%;
        height: 700px;
    }

    #services h2 {
        width: max-content;
        padding-left: 45%;
    }

    #services-left {
        padding: 175px 0;
        color: #fafafa;
        float: left;
        width: 33%;

    }

    #services-right {
        padding: 175px 0;
        color: #fafafa;
        float: right;
        width: 33%;
    }

    #services-left div {
        /* height: 50px;
        border-style: outset;
        border-radius: 0 20% 0 20%;
        box-sizing: border-box; */
        border-color: #5d3c96;
        background-color: rgba(93, 60, 150, 0.4);
        text-align: center;
    }

    #services-right div {
        /* height: 50px;
        border-style: outset;
        border-radius: 20% 0 20% 0;
        box-sizing: border-box; */
        border-color: #5d3c96;
        background-color: rgba(93, 60, 150, 0.4);
        text-align: center;
    }

    .services-left-link {
        /* margin-top: 50px; */
        padding-top: 10px;
    }

    .services-right-link {
        /* margin-top: 50px; */
        padding-top: 10px;
    }

    #services a {
        color: #fafafa;
        text-decoration: none;
    }

    #services a:hover {
        color: #4d54e2
    }


    /* Services Image  */

    #image-center {
        width: 600px;
        margin: 0 auto;
        padding-top: 175px;
    }

    #image-center-container {
        height: 400px;
        width: 600px;
        border-radius: 20% 25% 0 25%;
        background: #4dc1c0 url(../images/image-center.jpg) no-repeat;


    }

    #image-center-container-bg {
        background-color: #4dc1c0;
    }

    /* footer*/

    footer {
        height: 300px;
        background-color: #3f3f3f;
        color: #fafafa;

    }

    footer a {
        color: #fafafa;

    }

    #social {
        text-align: center;
        font-size: 150%;

    }

    #social li {
        display: inline;

        margin-right: 100px;

    }

    iframe {
        float: right;
        padding: 50px 50px 0 0;

    }

    #address {
        padding: 50px;
        text-align: left;
        letter-spacing: 2px;
    }

    #address h3 {
        padding-top: 15px;

    }

    #address p {
        margin-top: 15px;
    }