    @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Oswald:wght@300&display=swap');

    * {
        margin: 0;
        padding: 0;
        border: none;
    }

    body {
        font-family: Manrope, sans-serif;
        font-weight: 300;
        color: #4dc1c0;
    }

    header {
        background-color: #4dc1c0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        flex-basis: 100%;
    }

    /* headings and logo */

    h1,
    h2 {
        font-family: Oswald, sans-serif;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: #fafafa;
    }

    .logo {
        width: 150px;
        height: 150px;
        margin-right: 50px;
    }

    .menu {
        list-style: none;
        flex-basis: 50%;
    }

    .menu li {
        display: inline-block;
        padding: 0 50px;

    }

    .active {
        border-bottom: 1px solid #3f3f3f;
    }


    /* image left and about-us section */

    .main-bg {
        /* background-color: #5d3c96; */
        text-align: center;
        display: flex;
        margin: 50px auto;
    }
    
    .image-left {
        flex: 1;
        border-radius: 0 30%;
        margin: 10px 20px;
    }
    
    .image-left img {
        width: 100%;
        height: auto;
        border-radius: 0 30%;
        margin: auto;
    }
    
    .right-about {
    
        color: #4dc1c0;
        flex: 2;
        margin: auto 30px;
        font-size: 150%;
        text-align: center;
        box-sizing: border-box;
    }
    
    .right-about p {
        text-align: justify;
        margin-top: 10px;
    }
    
    hr {
        border-top: 1px solid #5d3c96;
        width: 100%;
        margin: 0 auto;
    }


    /* services */

    .services-container {
        color: #4dc1c0;
        display: flex;
        margin: 50px 0;
        text-align: justify;
    }
    
    /* .services-left {
        order: 1;
        flex-basis: 25%;
        box-sizing: border-box;
        text-align: justify;
        margin: auto;
    } */
    
    #services-left-1, #our-team-1 {
        margin: 0 15px;
        flex-basis: 25%;
        order: 1;
    }
    
    #services-left-2, .our-team-2 {
        margin: 0 15px;
        flex-basis: 25%;
        order: 3;
    }
    
    .services-image {
        order: 2;
        margin: 10px 20px;
    }
    
    
    .services-image img {
        width: 100%;
        height: auto;
        border-radius: 0 30%;
    
    }
    
    
    #services-right-1, .our-team-3 {
        margin: 0 15px;
        flex-basis: 25%;
        order: 1;
    }
    
    
    
    #services-right-2, .our-team-4 {
        flex-basis: 25%;
        order: 3;
        margin: 0 15px;
    }

    /* footer*/

    footer {
    height: 300px;
    background-color: #3f3f3f;
    color: #fafafa;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

footer a {
    color: #fafafa;

}

.social {
    font-size: 150%;
    flex: 3;
    margin: auto;
    order: 1;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    flex-direction: column;
    flex-wrap: wrap;
}

.social li {
    display: inline-block;
    padding-left: 30px;
    margin: auto 50px;
}

.map-footer {
    flex: 1;
    margin: auto;
    box-sizing: border-box;
    order: 3;
    padding-right: 50px;
}

/* iframe {
    padding: 0 30px;
      
} */

#address {
    flex: 1;
    text-align: left;
    letter-spacing: 2px;
    order: 2;
    margin: auto;
}

#address h3 {
    padding-top: 15px;

}

#address p {
    margin-top: 15px;
}